@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;800;900&display=swap');

@theme {
  --color-light-black: #1A1A1A;
  --color-light-white: #F0F0F0;
  
  --color-dblue-start: #2367ce;
  --color-dblue-end: #123468;
  
  --color-dred-start: #ce2323;
  --color-dred-end: #681212;

  --font-sans: 'Raleway', system-ui, sans-serif;
  
  --radius-sm: 9px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 36px;
  --radius-2xl: 150px;
  --radius-full: 222px;
  
  --shadow-custom-drop: -10px 45px 25px 0px rgba(0, 0, 0, 0.35);
  --shadow-custom-inset: inset 15px 0px 25px 0px rgba(0, 0, 0, 0.2);
  --shadow-custom-card: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  --shadow-custom-float: 0px 30px 75px 0px rgba(0, 0, 0, 0.5);
  
  --drop-shadow-sm: 0px 4px 2px rgba(0,0,0,0.15);
  --drop-shadow-nav: 0px 1px 7.5px rgba(34,99,197,0.2);
}

:root {
  color: var(--color-light-black);
  background: var(--color-light-white);
  font-family: var(--font-sans);
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
